{
  "type": "service_account",
  "project_id": "XXXXXXXX",
  "private_key_id": "XXXXXXXX",
  "private_key": "-----BEGIN PRIVATE KEY-----\nXXXXXXXX\n-----END PRIVATE KEY-----\n",
  "client_email": "aws-lambda-google-calendar@XXXXXXXX.iam.gserviceaccount.com",
  "client_id": "XXXXXXXX",
  "auth_uri": "https://XXXXXXXX/auth",
  "token_uri": "https://XXXXXXXX/token",
  "auth_provider_x509_cert_url": "https://XXXXXXXX/certs",
  "client_x509_cert_url": "https://XXXXXXXX.iam.gserviceaccount.com"
}
